body
{
    padding:10px;
    margin:40px;
    font-size:24px;
    font-family: helvetica;
    background-image:url(https://previews.123rf.com/images/nexusplexus/nexuplexus1804/180400704/98691457-abstract-background-image-with-space-planets-and-starry-sky-elements-of-this-image-furnished-by-nasa.jpg)
    background-repeat: no-repeat;
    background-size:auto;
    color: white;
}
nav
{
    background-color:white;
    padding:0px;
    color:purple
}